body, main{
    display: flex;
}

body{
    flex-direction: column;
}

main{
    flex-direction: row;
    flex: auto;
}

article{
    flex: 2;
    overflow-y: auto;
}

article img{
    border: 4px lavender dotted;
    background-color: black;
}

aside{
    flex: 1;
    overflow-y: auto;
}

.logo{
    font-size: 3rem;
    color: blueviolet;
}